[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
psycopg = "*"
flask = "*"
pytest-xprocess = "*"
py = "*"
bcrypt = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
